/* Style for the custom file input */
.custom-file-input ~ .custom-file-label::after {
    content: 'Browse';
}

.custom-file-label {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ced4da;
}

/* Alert styles */
.alert-dismissible .close {
    position: absolute;
    z-index: 2;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

/* Modal styles */
.modal {
    border-radius: 50px;
}

/* Thumbnail container and image styles */
.thumbnail-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Remove button overlay */
.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

/* Radio input styles */
.form-check-label {
    margin-left: 0.5rem;
}
