

button {
    padding: 10px 20px;
    margin: 2px;
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#generateBtn, #saveSignatureBtn, #undoBtn, #undoBtnUpload{
    margin-left: 0 !important;
}


button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    border-radius: 5px;
    width: 90vw;
    max-width: 800px;
    max-height: 80vh;
    overflow: auto;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent !important;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #689df3;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.tab-button:hover,
.tab-button.active {
    border-bottom: 2px solid #007BFF;
    background-color: #007BFF;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#fontContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.font-option {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.font-option:hover {
    background-color: #f0f0f0;
}

canvas {
    display: block;
    margin: 20px auto;
    max-width: 700px;
    max-height: 80vh;
    border: 1px solid rgba(184, 182, 182, 0.796);
    border-radius: 10px;
}

.signature-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.signature-option {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signature-option:hover {
    background-color: #f0f0f0;
}

.history-image {
    max-width: 40%;
    margin: 5px;
    border: 1px solid #ccc;
}

.custom-file-input ~ .custom-file-label::after {
    content: 'Browse';
}

.custom-file-label {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #ced4da;
}

